<header id='transaction_index'>Total Expenditure For All Transactions: £<%= @analysis.total_expenditure %></header>


<div class="container">
  <% @transactions.each do |transaction| %>
  
    <div class="item">Transaction ID:<%= transaction.id  %></div>

  <!--   <p>Merchant ID: <%= transaction.merchant_id %></p> -->
    <div class="item"><%= transaction.merchant.name  %></div>
    <!-- <div class="item"> <%= transaction.tag_id %></p> -->
    <div class="item">Category: <%= transaction.tag.tag %></div>

    <div class="item">£<%= transaction.amount %></div>
    <hr>
  <% end %>
  <a href="/transactions/new">Add a New Transaction</a>
</div>

<div>

