<h2>New Transaction</h2>

<form action="/transactions" method="post">

<label for="amount">Amount:</label>
<input type="text" name="amount"><br>

<label for="merchant_id">Merchant:</label>
<select name="merchant_id">
<% @merchants.each do |merchant| %>
<option value="<%= merchant.id %>"> <%= merchant.name  %>
</option>
</form>
</select>









<!-- <form action="/rentals" method="post">
   <label for="book_id">Book:</label>
 <select name="book_id">
   <% @books.each do |book| %>
   <option value="<%= book.id %>"> <%= book.title %> 
   </option>
   <% end %>
   </select>

   <label for="member_id">Member:</label>
   <select name="member_id">
   <% @members.each do |member| %>
   <option value="<%= member.id %>"> <%= member.name %> </option>
   <% end %>
 </select>

<input type='submit' value="Add Rental">
</form> --> -->